# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sia_db
DB_USER=root
DB_PASSWORD=tu_contraseña_mysql

# JWT
JWT_SECRET=clave_secreta_minimo_32_caracteres
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
CORS_ORIGIN=http://127.0.0.1:5500

# Gmail
EMAIL_USER=sia.sena.2025@gmail.com
EMAIL_PASS=contraseña_de_aplicacion_16_caracteres
SUPERADMIN_EMAIL=sia.sena.2025@gmail.com
