# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sia_db
DB_USER=postgres
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=clave_secreta_minimo_32_caracteres_cambia_esto
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
CORS_ORIGIN=http://localhost:5500

# Gmail — usa contraseña de APLICACIÓN, no tu contraseña normal
# Google → Seguridad → Verificación en 2 pasos → Contraseñas de aplicación
EMAIL_USER=tucorreo@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx

# Correo donde llegan las solicitudes de instituciones
SUPERADMIN_EMAIL=tucorreo@gmail.com
